public/index.html
<!DOCTYPE html><html lang="es"><head><meta charset="utf-8"><title>Web</title><link rel="stylesheet" href="css/styles.css"><link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700" rel="stylesheet"><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous"><link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300" rel="stylesheet"></head><body><nav class="nav"><div class="nav__logo"><a class="nav__logo__link" href="#">EX MACHINA</a></div><ul class="nav__list"><li class="nav__item"><a class="nav__link" href="#">HOMPAGE</a></li><li class="nav__item"><a class="nav__link" href="#">LEFT SIDEBAR</a></li><li class="nav__item"><a class="nav__link" href="#">RIGHT SIDEBAR</a></li><li class="nav__item"><a class="nav__link" href="#">NO SIDEBAR</a></li></ul></nav><div class="banner"><img class="banner__img" src="./img/banner.jpg"></div><section class="sectionImages"><div class="section__item"><div class="section__title">FEUGIAT TEMPUS</div><div class="section__data">In posuere eleifend odio. Quisque semper augue mattis maecenas ligula.</div><img class="section__img" src="./img/pics13.jpg"><div class="section__more"><a class="section__more__link" href="#" title="title">MORE</a></div></div><div class="section__item"><div class="section__title">MAECENAS LECTUS</div><div class="section__data">In posuere eleifend odio. Quisque semper augue mattis maecenas ligula.</div><img class="section__img" src="./img/pics14.jpg"><div class="section__more"><a class="section__more__link" href="#" title="title">MORE</a></div></div><div class="section__item"><div class="section__title">LUCTUS LECTUS</div><div class="section__data">In posuere eleifend odio. Quisque semper augue mattis maecenas ligula.</div><img class="section__img" src="./img/pics15.jpg"><div class="section__more"><a class="section__more__link" href="#" title="title">MORE</a></div></div><div class="section__item"><div class="section__title">POSUERE ELEIFEND</div><div class="section__data">In posuere eleifend odio. Quisque semper augue mattis maecenas ligula.</div><img class="section__img" src="./img/pics16.jpg"><div class="section__more"><a class="section__more__link" href="#" title="title">MORE</a></div></div></section><section class="sectionMain"><div class="main"><div class="main__title">INTEGER GRAVIDA NIBH QUIS URNA<br> <span class="main__subtitle">AUGUE PRAESENT A LACUS AT URNA CONGUE RUTRUM</span></div><div class="main__data"><p>This is Ex Machina, a responsive HTML5 site template freebie by TEMPLATED. Released for free under the Creative Commons Attribution license, so use it for whatever (personal or commercial) – just give us credit! Check out more of our stuff at our site or follow us on Twitter.</p><p>Sed etiam vestibulum velit, euismod lacinia quam nisl id lorem. Quisque erat. Vestibulum pellentesque, justo mollis pretium suscipit, justo nulla blandit libero, in blandit augue justo quis nisl. Fusce mattis viverra elit. Fusce quis tortor. Consectetuer adipiscing elit. Nam pede erat, porta eu, lobortis eget lorem ipsum dolor. Donec placerat odio vel elit. Nullam ante orci, pellentesque eget, tempus quis, ultrices in, est. Curabitur sit amet nulla. Nam in massa. Sed vel tellus. Curabitur sem urna, consequat. Sed etiam vestibulum velit, euismod lacinia quam nisl id lorem. Quisque erat.</p><p>Sed etiam vestibulum velit, euismod lacinia quam nisl id lorem. Quisque erat. Vestibulum pellentesque, justo mollis pretium suscipit, justo nulla blandit libero, in blandit augue justo quis nisl. Fusce mattis viverra elit. Fusce quis tortor. Consectetuer adipiscing elit. Nam pede erat, porta eu, lobortis eget lorem ipsum dolor. Donec placerat odio vel elit. Nullam ante orci, pellentesque eget, tempus quis, ultrices in, est. Curabitur sit amet nulla. Nam in massa. Sed vel tellus. Curabitur sem urna, consequat. Sed etiam vestibulum velit, euismod lacinia quam nisl id lorem. Quisque erat.</p></div><div class="main__more"><a class="main__more__link" href="#">MORE DETAILS</a></div></div><div class="images"><div class="images__title">FEUGIAT TEMPUS</div><div class="images__list"><div class="images__item"><img class="images__img" src="./img/pics07.jpg"><div class="images__data"><span>Donec leo, vivamus</span><span>fermentum augue praesent a</span><span>lacus at urna rutrum.</span></div></div><div class="images__item"><img class="images__img" src="./img/pics08.jpg"><div class="images__data"><span>Donec leo, vivamus</span><span>fermentum augue praesent a</span><span>lacus at urna rutrum.</span></div></div><div class="images__item"><img class="images__img" src="./img/pics09.jpg"><div class="images__data"><span>Donec leo, vivamus</span><span>fermentum augue praesent a</span><span>lacus at urna rutrum.</span></div></div><div class="images__item"><img class="images__img" src="./img/pics10.jpg"><div class="images__data"><span>Donec leo, vivamus</span><span>fermentum augue praesent a</span><span>lacus at urna rutrum.</span></div></div></div></div><div class="section"><div class="section__list"><div class="section__items__title">FEUGIAT TEMPUS</div><div class="section__items"><div class="section__items__item"><a class="section__items__link" href="#">Maecenas luctus lectus at sapien</a></div><div class="section__items__item"><a class="section__items__link" href="#">Etiam rhoncus volutpat erat</a></div><div class="section__items__item"><a class="section__items__link" href="#">Donec dictum metus in sapien</a></div><div class="section__items__item"><a class="section__items__link" href="#">Nulla luctus eleifend purus</a></div><div class="section__items__item"><a class="section__items__link" href="#">Maecenas luctus lectus at sapien</a></div></div></div><div class="section__list"><div class="section__items__title">NULLA LUCTUS ELEIFEND</div><div class="section__items"><div class="section__items__item"><a class="section__items__link" href="#">Maecenas luctus lectus at sapien</a></div><div class="section__items__item"><a class="section__items__link" href="#">Etiam rhoncus volutpat erat</a></div><div class="section__items__item"><a class="section__items__link" href="#">Donec dictum metus in sapien</a></div><div class="section__items__item"><a class="section__items__link" href="#">Nulla luctus eleifend purus</a></div><div class="section__items__item"><a class="section__items__link" href="#">Maecenas luctus lectus at sapien</a></div></div></div></div></section><script src="js/scripts.js"></script></body></html>

dev/pug/pages/index.pug
extends ../includes/template

block main
    include ../includes/menu.pug
    .banner
        img(src="./img/banner.jpg").banner__img
    -var title = ["FEUGIAT TEMPUS","MAECENAS LECTUS","LUCTUS LECTUS","POSUERE ELEIFEND"]

    -var txt = "In posuere eleifend odio. Quisque semper augue mattis maecenas ligula.";
    section.sectionImages
        -for(var i=13; i<=16; i++)
            .section__item
                .section__title= title[i-13]
                .section__data= txt
                img(src="./img/pics"+i+".jpg").section__img
                .section__more
                    a(href="#", title="title").section__more__link MORE
    
    
    section.sectionMain
        .main
            .main__title INTEGER GRAVIDA NIBH QUIS URNA<br> 
                span.main__subtitle AUGUE PRAESENT A LACUS AT URNA CONGUE RUTRUM
            .main__data
                p This is Ex Machina, a responsive HTML5 site template freebie by TEMPLATED. Released for free under the Creative Commons Attribution license, so use it for whatever (personal or commercial) – just give us credit! Check out more of our stuff at our site or follow us on Twitter.
                p Sed etiam vestibulum velit, euismod lacinia quam nisl id lorem. Quisque erat. Vestibulum pellentesque, justo mollis pretium suscipit, justo nulla blandit libero, in blandit augue justo quis nisl. Fusce mattis viverra elit. Fusce quis tortor. Consectetuer adipiscing elit. Nam pede erat, porta eu, lobortis eget lorem ipsum dolor. Donec placerat odio vel elit. Nullam ante orci, pellentesque eget, tempus quis, ultrices in, est. Curabitur sit amet nulla. Nam in massa. Sed vel tellus. Curabitur sem urna, consequat. Sed etiam vestibulum velit, euismod lacinia quam nisl id lorem. Quisque erat.
                p Sed etiam vestibulum velit, euismod lacinia quam nisl id lorem. Quisque erat. Vestibulum pellentesque, justo mollis pretium suscipit, justo nulla blandit libero, in blandit augue justo quis nisl. Fusce mattis viverra elit. Fusce quis tortor. Consectetuer adipiscing elit. Nam pede erat, porta eu, lobortis eget lorem ipsum dolor. Donec placerat odio vel elit. Nullam ante orci, pellentesque eget, tempus quis, ultrices in, est. Curabitur sit amet nulla. Nam in massa. Sed vel tellus. Curabitur sem urna, consequat. Sed etiam vestibulum velit, euismod lacinia quam nisl id lorem. Quisque erat.
            .main__more
                a(href="#").main__more__link MORE DETAILS
        
        .images
            .images__title FEUGIAT TEMPUS
            .images__list
                -for(var i=7; i<=10;i++)
                    .images__item
                        if i<10
                            img(src="./img/pics0"+i+".jpg").images__img
                        else
                            img(src="./img/pics"+i+".jpg").images__img

                        .images__data
                            span Donec leo, vivamus
                            span fermentum augue praesent a
                            span lacus at urna rutrum.
        
        include ../includes/section.pug
        
